* {
    font-size: 62.5%;
    font-family: 'Yusei Magic', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: #DCC1B6; */
    background: #FAFAFA;
}

.pantalla-principal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 70rem;
    background: #DCC1B6;
    border-radius: 1rem;
    box-shadow: rgba(0,0,0,0.35) 0rem 0.5rem 1.5rem;
}

.pantalla-principal .hermione {
    max-width: 60%;
    border-radius: 1rem;
}

.pantalla-principal .titulo {
    max-width: 40%;
    margin: 8rem 0 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pantalla-principal .titulo img {
    max-width: 70%;
}

.pantalla-principal .titulo .divisor {
    width: 70%;
    height: 0.1rem;
    background: #000;
}

.pantalla-principal .titulo h1{
    font-family: 'Inspiration', sans-serif;
    font-size: 3.4rem;
}

.pantalla-principal .titulo .iconos-juego{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pantalla-principal .titulo .iconos-juego .categoria-juego{
    width: 4rem;
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
}

.pantalla-principal .titulo .iconos-juego .categoria-juego:hover {
    background: #ccaca0;
}